In [1]:
import pandas as pd
import numpy as np
# seed the random nubmer generator to assure consistency
np.random.seed(0)

In [2]:
def reload_data(name='nobel_winners_dirty.json'):
    df = pd.read_json(open('data/' + name))
    return df

In [3]:
#df = reload_data('nobel_winners_full.json')
df = reload_data()

## Inspecting the Data

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1052 entries, 0 to 1051
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   born_in         1052 non-null   object
 1   category        1052 non-null   object
 2   country         1052 non-null   object
 3   date_of_birth   1044 non-null   object
 4   date_of_death   1044 non-null   object
 5   gender          1040 non-null   object
 6   link            1052 non-null   object
 7   name            1052 non-null   object
 8   place_of_birth  1044 non-null   object
 9   place_of_death  1044 non-null   object
 10  text            1052 non-null   object
 11  year            1052 non-null   int64
dtypes: int64(1), object(11)
memory usage: 98.8+ KB

In [5]:
df.describe()

              year
count  1052.000000
mean   1968.729087
std      33.155829
min    1809.000000
25%    1947.000000
50%    1975.000000
75%    1996.000000
max    2014.000000

In [6]:
df.describe(include=['object'])

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text
count,1052,1052,1052,1044,1044,1040,1052,1052,1044,1044,1052
unique,40,7,59,853,563,2,893,998,735,410,1043
top,,Physiology or Medicine,United States,7 November 1867,,male,http://en.wikipedia.org/wiki/Michael_Levitt,César Milstein,,,"Ernest Rutherford , born in New Zealand , Che..."
freq,910,250,350,4,362,982,4,2,29,409,2

In [7]:
df.head()

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
0,,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,César Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
1,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,Ivo Andric *,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
2,Bosnia and Herzegovina,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,Vladimir Prelog *,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
3,,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,Institut de Droit International,None,None,"Institut de Droit International , Peace, 1904",1904
4,,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,Auguste Beernaert,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909

## Indices and Pandas Data Selection

In [8]:
df.columns

Index(['born_in', 'category', 'country', 'date_of_birth', 'date_of_death',
       'gender', 'link', 'name', 'place_of_birth', 'place_of_death', 'text',
       'year'],
      dtype='object')

In [9]:
df = df.set_index('name')
df.head(2)

,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
name,,,,,,,,,,,
César Milstein,,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
Ivo Andric *,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961

In [10]:
df.reset_index(inplace=True)
df.head(2)

,name,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
0,César Milstein,,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
1,Ivo Andric *,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961

In [11]:
bi_col = df.born_in
bi_col

0
1       Bosnia and Herzegovina
2       Bosnia and Herzegovina
3
4
                 ...
1047
1048
1049
1050
1051
Name: born_in, Length: 1052, dtype: object

In [12]:
type(bi_col)

pandas.core.series.Series

In [13]:
df.iloc[0]

name                                                César Milstein
born_in
category                                    Physiology or Medicine
country                                                  Argentina
date_of_birth                                       8 October 1927
date_of_death                                        24 March 2002
gender                                                        male
link              http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein
place_of_birth                           Bahía Blanca ,  Argentina
place_of_death                                 Cambridge , England
text                 César Milstein , Physiology or Medicine, 1984
year                                                          1984
Name: 0, dtype: object

In [14]:
df.set_index('name', inplace=True)
print(df.loc['Albert Einstein'])

                born_in category      country date_of_birth date_of_death  \
name
Albert Einstein          Physics  Switzerland    1879-03-14    1955-04-18
Albert Einstein          Physics      Germany    1879-03-14    1955-04-18

                gender                                          link  \
name
Albert Einstein   male  http://en.wikipedia.org/wiki/Albert_Einstein
Albert Einstein   male  http://en.wikipedia.org/wiki/Albert_Einstein

                                           place_of_birth  \
name
Albert Einstein  Ulm ,  Baden-Württemberg , German Empire
Albert Einstein  Ulm ,  Baden-Württemberg , German Empire

                               place_of_death  \
name
Albert Einstein  Princeton, New Jersey , U.S.
Albert Einstein  Princeton, New Jersey , U.S.

                                                              text  year
name
Albert Einstein  Albert Einstein ,  born in Germany , Physics, ...  1921
Albert Einstein                    Albert Einstein , Physics, 1921  1921

## Selecting Multiple Rows

In [15]:
# First reset the dataframe's index to the original one 
df.reset_index(inplace=True)

In [16]:
print(df[0:10])

                              name                 born_in  \
0                   César Milstein
1                     Ivo Andric *  Bosnia and Herzegovina
2                Vladimir Prelog *  Bosnia and Herzegovina
3  Institut de Droit International
4                Auguste Beernaert
5              Maurice Maeterlinck
6                Henri La Fontaine
7                     Jules Bordet
8                Corneille Heymans
9                     Georges Pire

                 category    country   date_of_birth   date_of_death gender  \
0  Physiology or Medicine  Argentina  8 October 1927   24 March 2002   male
1              Literature             9 October 1892   13 March 1975   male
2               Chemistry              July 23, 1906      1998-01-07   male
3                   Peace    Belgium            None            None   None
4                   Peace    Belgium    26 July 1829  6 October 1912   male
5              Literature    Belgium  29 August 1862      6 May 1949   male
6                   Peace    Belgium   22 April 1854     14 May 1943   male
7  Physiology or Medicine    Belgium    13 June 1870    6 April 1961   male
8  Physiology or Medicine    Belgium   28 March 1892    18 July 1968   male
9                   Peace    Belgium      1910-02-10      1969-01-30   male

                                                link  \
0   http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein
1            http://en.wikipedia.org/wiki/Ivo_Andric
2       http://en.wikipedia.org/wiki/Vladimir_Prelog
3  http://en.wikipedia.org/wiki/Institut_de_Droit...
4  http://en.wikipedia.org/wiki/Auguste_Marie_Fra...
5   http://en.wikipedia.org/wiki/Maurice_Maeterlinck
6     http://en.wikipedia.org/wiki/Henri_La_Fontaine
7          http://en.wikipedia.org/wiki/Jules_Bordet
8     http://en.wikipedia.org/wiki/Corneille_Heymans
9          http://en.wikipedia.org/wiki/Georges_Pire

                                      place_of_birth  \
0                          Bahía Blanca ,  Argentina
1  Dolac (village near Travnik), Austria-Hungary ...
2  Sarajevo ,  Bosnia and Herzegovina , then part...
3                                               None
4             Ostend ,  Netherlands  (now  Belgium )
5                                   Ghent ,  Belgium
6                                           Brussels
7                                  Soignies, Belgium
8                                  Ghent ,  Flanders
9                                  Dinant ,  Belgium

                                      place_of_death  \
0                                Cambridge , England
1  Belgrade, SR Serbia, SFR Yugoslavia (present-d...
2                              Zürich ,  Switzerland
3                                               None
4                             Lucerne ,  Switzerland
5                                     Nice ,  France
6                                            Belgium
7
8                                 Knokke ,  Flanders
9                                   Leuven , Belgium

                                                text  year
0      César Milstein , Physiology or Medicine, 1984  1984
1  Ivo Andric *,  born in then  Austria–Hungary ,...  1961
2  Vladimir Prelog *,  born in then  Austria–Hung...  1975
3      Institut de Droit International , Peace, 1904  1904
4                    Auguste Beernaert , Peace, 1909  1909
5             Maurice Maeterlinck , Literature, 1911  1911
6                    Henri La Fontaine , Peace, 1913  1913
7        Jules Bordet , Physiology or Medicine, 1919  1919
8   Corneille Heymans , Physiology or Medicine, 1938  1938
9                         Georges Pire , Peace, 1958  1958

In [17]:
print(df[-4:])

                       name born_in                category    country  \
1048  Carlos Saavedra Lamas                           Peace  Argentina
1049       Bernardo Houssay          Physiology or Medicine  Argentina
1050   Luis Federico Leloir                       Chemistry  Argentina
1051  Adolfo Pérez Esquivel                           Peace  Argentina

          date_of_birth date_of_death gender  \
1048   November 1, 1878   May 5, 1959   male
1049         1887-04-10    1971-09-21   male
1050           1906-9-6     1987-12-2   male
1051  November 26, 1931                 male

                                                   link  \
1048  http://en.wikipedia.org/wiki/Carlos_Saavedra_L...
1049      http://en.wikipedia.org/wiki/Bernardo_Houssay
1050  http://en.wikipedia.org/wiki/Luis_Federico_Leloir
1051  http://en.wikipedia.org/wiki/Adolfo_P%C3%A9rez...

                 place_of_birth             place_of_death  \
1048  Buenos Aires ,  Argentina    Buenos Aires, Argentina
1049  Buenos Aires ,  Argentina  Buenos Aires ,  Argentina
1050            Paris ,  France  Buenos Aires ,  Argentina
1051               Buenos Aires

                                                 text  year
1048              Carlos Saavedra Lamas , Peace, 1936  1936
1049  Bernardo Houssay , Physiology or Medicine, 1947  1947
1050           Luis Federico Leloir , Chemistry, 1970  1970
1051              Adolfo Pérez Esquivel , Peace, 1980  1980

In [18]:
mask = df.year > 2000
winners_since_2000 = df[mask]
winners_since_2000.count()

name              202
born_in           202
category          202
country           202
date_of_birth     201
date_of_death     201
gender            200
link              202
place_of_birth    201
place_of_death    201
text              202
year              202
dtype: int64

In [19]:
winners_since_2000.head()

,name,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
13,François Englert,,Physics,Belgium,6 November 1932,,male,http://en.wikipedia.org/wiki/Fran%C3%A7ois_Eng...,"Etterbeek , Brussels , Belgium",,"François Englert , Physics, 2013",2013
32,Christopher A. Pissarides,,Economics,Cyprus,1948-02-20,,male,http://en.wikipedia.org/wiki/Christopher_A._Pi...,"Nicosia, Cyprus",,"Christopher A. Pissarides , Economics, 2010",2010
66,Kofi Annan,,Peace,Ghana,8 April 1938,,male,http://en.wikipedia.org/wiki/Kofi_Annan,"Kumasi , Ghana",,"Kofi Annan , Peace, 2001",2001
87,Riccardo Giacconi *,Italy,Physics,,"October 6, 1931",,male,http://en.wikipedia.org/wiki/Riccardo_Giacconi,"Genoa , Italy",,"Riccardo Giacconi *, Physics, 2002",2002
88,Mario Capecchi *,Italy,Physiology or Medicine,,6 October 1937,,male,http://en.wikipedia.org/wiki/Mario_Capecchi,"Verona , Italy",,"Mario Capecchi *, Physiology or Medicine, 2007",2007

## Cleaning the Data

In [20]:
df.born_in.describe()

count     1052
unique      40
top
freq       910
Name: born_in, dtype: object

### Finding mixed types

In [21]:
set(df.born_in.apply(type))

{str}

## Replacing Strings

In [22]:
import numpy as np

In [23]:
bi_col.replace('', np.nan, inplace=True)
bi_col

0                          NaN
1       Bosnia and Herzegovina
2       Bosnia and Herzegovina
3                          NaN
4                          NaN
                 ...
1047                       NaN
1048                       NaN
1049                       NaN
1050                       NaN
1051                       NaN
Name: born_in, Length: 1052, dtype: object

In [24]:
bi_col.count()

142

In [25]:
df.replace('', np.nan, inplace=True)

In [26]:
df.head()

,name,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
0,César Milstein,NaN,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
1,Ivo Andric *,Bosnia and Herzegovina,Literature,NaN,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
2,Vladimir Prelog *,Bosnia and Herzegovina,Chemistry,NaN,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
3,Institut de Droit International,NaN,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,None,None,"Institut de Droit International , Peace, 1904",1904
4,Auguste Beernaert,NaN,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909

In [27]:
df[df.name.str.contains('\*')]['name']

1                   Ivo Andric *
2              Vladimir Prelog *
14               Simon Kuznets *
15              Menachem Begin *
16                Shimon Peres *
                  ...
1034            Martin Karplus *
1035    William Lawrence Bragg *
1039    Aleksandr M. Prokhorov *
1041     John Warcup Cornforth *
1046    Elizabeth H. Blackburn *
Name: name, Length: 142, dtype: object

In [28]:
#df.name = df.name.str.replace('*', '')
df.name = df.name.str.replace('*', '', regex=True)
df.name = df.name.str.strip()

In [29]:
df[df.name.str.contains('\*')]

Empty DataFrame
Columns: [name, born_in, category, country, date_of_birth, date_of_death, gender, link, place_of_birth, place_of_death, text, year]
Index: []

## Removing Rows

In [30]:
np.nan == np.nan

False

In [31]:
df = df[df.born_in.isnull()]
df.count()

name              910
born_in             0
category          909
country           910
date_of_birth     901
date_of_death     589
gender            900
link              910
place_of_birth    875
place_of_death    546
text              910
year              910
dtype: int64

In [32]:
df = df.drop('born_in', axis=1)

## Finding Duplicates

In [33]:
dupes_by_name = df[df.duplicated('name')]
dupes_by_name.count()

name              46
category          46
country           46
date_of_birth     45
date_of_death     24
gender            44
link              46
place_of_birth    45
place_of_death    23
text              46
year              46
dtype: int64

In [34]:
all_dupes = df[df.duplicated('name')\
| df.duplicated('name', keep='last')]
all_dupes.count()

name              92
category          92
country           92
date_of_birth     90
date_of_death     48
gender            88
link              92
place_of_birth    90
place_of_death    46
text              92
year              92
dtype: int64

In [35]:
all_dupes = df[df.name.isin(dupes_by_name.name)]
all_dupes.count()

name              92
category          92
country           92
date_of_birth     90
date_of_death     48
gender            88
link              92
place_of_birth    90
place_of_death    46
text              92
year              92
dtype: int64

To iterate over all the name groups:

```python
for name, rows in df.groupby('name'):
    print('name: %s, number of rows: %d'%(name, len(rows)))
    
#name: A. Michael Spence, number of rows: 1
#name: Aage Bohr, number of rows: 1
#name: Aaron Ciechanover, number of rows: 1
#name: Aaron Klug, number of rows: 2
```

In [36]:
# name group of size two or more
pd.concat([g for _,g in df.groupby('name')\
if len(g) > 1])['name']

121          Aaron Klug
131          Aaron Klug
615     Albert Einstein
844     Albert Einstein
176       Arieh Warshel
             ...
975       Tsung-Dao Lee
333    Wassily Leontief
684    Wassily Leontief
489      Yoichiro Nambu
773      Yoichiro Nambu
Name: name, Length: 92, dtype: object

## Sorting Data

In [37]:
df2 = pd.DataFrame(\
{'name':['zak', 'alice', 'bob', 'mike', 'bob', 'bob'],\
'score':[4, 3, 5, 2, 3, 7]})
df2.sort_values(['name', 'score'],\
ascending=[1,0])

    name  score
1  alice      3
5    bob      7
2    bob      5
4    bob      3
3   mike      2
0    zak      4

In [38]:
print(all_dupes.sort_values('name')[['name', 'country', 'year']])

                 name         country  year
121        Aaron Klug    South Africa  1982
131        Aaron Klug  United Kingdom  1982
844   Albert Einstein         Germany  1921
615   Albert Einstein     Switzerland  1921
176     Arieh Warshel   United States  2013
..                ...             ...   ...
294     Tsung-Dao Lee   United States  1957
333  Wassily Leontief   United States  1973
684  Wassily Leontief          Russia  1973
773    Yoichiro Nambu           Japan  2008
489    Yoichiro Nambu   United States  2008

[92 rows x 3 columns]

## Views Versus Copies

In [39]:
df.loc[709]

name                                         Marie Skłodowska-Curie
category                                                  Chemistry
country                                                      Poland
date_of_birth                                       7 November 1867
date_of_death                                           4 July 1934
gender                                                       female
link                       http://en.wikipedia.org/wiki/Marie_Curie
place_of_birth                                      Warsaw , Poland
place_of_death                                 Sancellemoz , France
text              Marie Skłodowska-Curie ,  born in partitioned ...
year                                                           1911
Name: 709, dtype: object

In [40]:
df['country'][709] = 'France'

/tmp/ipykernel_265260/2006240441.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['country'][709] = 'France'

In [41]:
df['country'][709]

'France'

In [42]:
df.loc[709, 'country'] = 'France'

The above will work if the row name integer index are the same (709 in this case) but this often isn't the case. Better to use the integer reference `iloc`, using the `get_loc` method to find the integer reference of the column in question ('country').

In [43]:
df.iloc[709, df.columns.get_loc('country')] = 'France'

In [44]:
df.loc[709]

name                                         Marie Skłodowska-Curie
category                                                  Chemistry
country                                                      France
date_of_birth                                       7 November 1867
date_of_death                                           4 July 1934
gender                                                       female
link                       http://en.wikipedia.org/wiki/Marie_Curie
place_of_birth                                      Warsaw , Poland
place_of_death                                 Sancellemoz , France
text              Marie Skłodowska-Curie ,  born in partitioned ...
year                                                           1911
Name: 709, dtype: object

## Removing Duplicates

In [106]:
df.loc[(df.name == 'Marie Sk\u0142odowska-Curie') &\
(df.year == 1911), 'country'] = 'France'

In [107]:
df.drop(df[(df.name == 'Sidney Altman') &\
(df.year == 1990)].index,
inplace=True)

# df = df[~((df.name == 'Sidney Altman') & (df.year == 1990))] works as well

In [153]:
def clean_data_1(df):
    df = df.replace('', np.nan)
    df = df[df.born_in.isnull()]
    df = df.drop('born_in', axis=1)
    df.drop(df[df.year == 1809].index, inplace=True)
    df = df[~(df.name == 'Marie Curie')]
    df.loc[(df.name == 'Marie Sk\u0142odowska-Curie') &\
    (df.year == 1911), 'country'] = 'France'
    df = df[~((df.name == 'Sidney Altman') &\
    (df.year == 1990))]
    return df

In [154]:
# Apply our clean_data function to the reloaded dirty data
df = reload_data()
df = clean_data_1(df)

In [155]:
df = df.reindex(np.random.permutation(df.index))
df = df.drop_duplicates(['name', 'year'])
df = df.sort_index()
df.count()

category          864
country           865
date_of_birth     857
date_of_death     566
gender            857
link              865
name              865
place_of_birth    831
place_of_death    524
text              865
year              865
dtype: int64

In [156]:
df[df.duplicated('name') |
df.duplicated('name', keep='last')]\
.sort_values(by='name')\
[['name', 'country', 'year', 'category']]

                       name         country  year   category
548        Frederick Sanger  United Kingdom  1958  Chemistry
580        Frederick Sanger  United Kingdom  1980  Chemistry
292            John Bardeen   United States  1956    Physics
326            John Bardeen   United States  1972    Physics
285        Linus C. Pauling   United States  1954  Chemistry
309        Linus C. Pauling   United States  1962      Peace
706  Marie Skłodowska-Curie          Poland  1903    Physics
709  Marie Skłodowska-Curie          France  1911  Chemistry

## Dealing with Missing Fields

In [157]:
df.count()

category          864
country           865
date_of_birth     857
date_of_death     566
gender            857
link              865
name              865
place_of_birth    831
place_of_death    524
text              865
year              865
dtype: int64

In [158]:
df[df.category.isnull()][['name', 'text']]

              name                            text
922  Alexis Carrel  Alexis Carrel , Medicine, 1912

In [159]:
df.loc[df.name == 'Alexis Carrel', 'category'] =\
'Physiology or Medicine'

In [160]:
df[df.gender.isnull()]['name']

3                         Institut de Droit International
156                               Friends Service Council
267     American Friends Service Committee  (The Quakers)
574                                 Amnesty International
650                                         Ragnar Granit
947                              Médecins Sans Frontières
1000     Pugwash Conferences on Science and World Affairs
1033                   International Atomic Energy Agency
Name: name, dtype: object

In [161]:
df.loc[df.name == 'Ragnar Granit', 'gender'] = 'male'
df = df[df.gender.notnull()] # remove genderless entries (e.g. Amnesty International)

In [162]:
df[df.date_of_birth.isnull()]['name']

782    Hiroshi Amano
Name: name, dtype: object

In [163]:
df.loc[df.name == 'Hiroshi Amano', 'date_of_birth'] =\
'11 September 1960'

In [164]:
df.count()

category          858
country           858
date_of_birth     858
date_of_death     566
gender            858
link              858
name              858
place_of_birth    831
place_of_death    524
text              858
year              858
dtype: int64

In [165]:
# store a copy of de-duped dataframe
df_clean_dupes_missing = df.copy()

In [166]:
# Our current clean_data function, including de-duping and removing international organizations
def clean_data_2(df):
    df = df.replace('', np.nan)
    df = df[df.born_in.isnull()]
    df = df.drop('born_in', axis=1)
    df.drop(df[df.year == 1809].index, inplace=True)
    df = df[~(df.name == 'Marie Curie')]
    df.loc[(df.name == 'Marie Sk\u0142odowska-Curie') &\
    (df.year == 1911), 'country'] = 'France'
    df = df[~((df.name == 'Sidney Altman') &\
    (df.year == 1990))]
    df = df.reindex(np.random.permutation(df.index))
    df = df.drop_duplicates(['name', 'year'])
    df = df.sort_index()
    df.loc[df.name == 'Ragnar Granit', 'gender'] = 'male'
    df = df[df.gender.notnull()] # remove genderless entries (e.g. Amnesty International)
    return df

## Dealing with Times and Dates

In [167]:
# Apply our clean_data function to the reloaded dirty data
df = reload_data()
df = clean_data_2(df)

In [168]:
print(df[['name', 'date_of_birth']])

                       name      date_of_birth
0            César Milstein     8 October 1927
4         Auguste Beernaert       26 July 1829
5       Maurice Maeterlinck     29 August 1862
6         Henri La Fontaine      22 April 1854
7              Jules Bordet       13 June 1870
...                     ...                ...
1047       Brian P. Schmidt  February 24, 1967
1048  Carlos Saavedra Lamas   November 1, 1878
1049       Bernardo Houssay         1887-04-10
1050   Luis Federico Leloir           1906-9-6
1051  Adolfo Pérez Esquivel  November 26, 1931

[858 rows x 2 columns]

In [169]:
pd.to_datetime(df.date_of_birth, errors='raise')

0      1927-10-08
4      1829-07-26
5      1862-08-29
6      1854-04-22
7      1870-06-13
          ...
1047   1967-02-24
1048   1878-11-01
1049   1887-04-10
1050   1906-09-06
1051   1931-11-26
Name: date_of_birth, Length: 858, dtype: datetime64[ns]

In [170]:
df.date_of_birth = pd.to_datetime(df.date_of_birth)

In [171]:
# This will raise a ValueError:
# pd.to_datetime(df.date_of_death, errors='raise')
# ---------------------------------------------------------------------------
# ValueError                                Traceback (most recent call last)
# ~/workspace/.virtualenvs/pyjs2/lib/python3.8/site-packages/dateutil/parser/_parser.py...
#     648         try:
# --> 649             ret = self._build_naive(res, default)
#     650         except ValueError as e:

In [172]:
for i,row in df.iterrows():
    try:
        pd.to_datetime(row.date_of_death, errors='raise')
    except:
        print(f"{row.date_of_death.ljust(30)}({row['name']}, {i})")
        #print('%s(%s, %d)'%(row.date_of_death.ljust(30),\
#row['name'], i))

1968-23-07                    (Henry Hallett Dale, 150)
May 30, 2011 (aged 89)        (Rosalyn Yalow, 349)
living                        (David Trimble, 581)
Diederik Korteweg             (Johannes Diderik van der Waals, 746)
living                        (Shirin Ebadi, 809)
living                        (Rigoberta Menchú, 833)
1 February 1976, age 74       (Werner Karl Heisenberg, 858)

In [67]:
with_death_dates = df[df.date_of_death.notnull()]
with_death_dates
bad_dates = pd.isnull(pd.to_datetime(with_death_dates.date_of_death,\
                                     errors='coerce'))
with_death_dates[bad_dates][['category', 'date_of_death', 'name']]

,category,date_of_death,name
150,Physiology or Medicine,1968-23-07,Henry Hallett Dale
349,Physiology or Medicine,"May 30, 2011 (aged 89)",Rosalyn Yalow
581,Peace,living,David Trimble
746,Physics,Diederik Korteweg,Johannes Diderik van der Waals
809,Peace,living,Shirin Ebadi
833,Peace,living,Rigoberta Menchú
858,Physics,"1 February 1976, age 74",Werner Karl Heisenberg

In [68]:
df.date_of_death = pd.to_datetime(df.date_of_death, errors='coerce')

In [69]:
df['award_age'] = df.year - pd.DatetimeIndex(df.date_of_birth).year

In [70]:
print(df.sort_values('award_age').iloc[:10]\
[['name', 'award_age', 'category', 'year']])

                       name  award_age                category  year
725        Malala Yousafzai       17.0                   Peace  2014
525  William Lawrence Bragg       25.0                 Physics  1915
626    Georges J. F. Köhler       30.0  Physiology or Medicine  1976
146              Paul Dirac       31.0                 Physics  1933
294           Tsung-Dao Lee       31.0                 Physics  1957
247           Carl Anderson       31.0                 Physics  1936
858  Werner Karl Heisenberg       31.0                 Physics  1932
804        Mairéad Corrigan       32.0                   Peace  1976
226         Tawakkol Karman       32.0                   Peace  2011
986    Frederick G. Banting       32.0  Physiology or Medicine  1923

In [173]:
def clean_data(df):
    """The full clean data function, which returns both the cleaned Nobel data (df) and a DataFrame 
    containing those winners with a born_in field."""
    df = df.replace('', np.nan)
    df_born_in = df[df.born_in.notnull()].copy() 
    df = df[df.born_in.isnull()]
    df = df.drop('born_in', axis=1) 
    df.drop(df[df.year == 1809].index, inplace=True) 
    df = df[~(df.name == 'Marie Curie')]
    df.loc[(df.name == 'Marie Sk\u0142odowska-Curie') &\
           (df.year == 1911), 'country'] = 'France'
    df = df[~((df.name == 'Sidney Altman') & (df.year == 1990))]
    df = df.reindex(np.random.permutation(df.index)) 
    df = df.drop_duplicates(['name', 'year'])         
    df = df.sort_index()
    df.loc[df.name == 'Alexis Carrel', 'category'] =\
        'Physiology or Medicine' 
    df.loc[df.name == 'Ragnar Granit', 'gender'] = 'male'
    df = df[df.gender.notnull()] # remove institutional prizes
    df.loc[df.name == 'Hiroshi Amano', 'date_of_birth'] =\
    '11 September 1960'
    df.date_of_birth = pd.to_datetime(df.date_of_birth) 
    df.date_of_death = pd.to_datetime(df.date_of_death, errors='coerce') 
    df['award_age'] = df.year - pd.DatetimeIndex(df.date_of_birth).year 
    return df, df_born_in

In [180]:
df_clean, df_born_in = clean_data(reload_data())

In [181]:
df_born_in.name = df_born_in.name.str.replace('*', '', regex=False)
df_born_in.name = df_born_in.name.str.strip()
df_born_in.drop_duplicates(subset=['name'], inplace=True)
df_born_in.set_index('name', inplace=True)

In [183]:
df_born_in.loc['Eugene Wigner']

born_in                                                     Hungary
category                                                    Physics
country                                                         NaN
date_of_birth                                     November 17, 1902
date_of_death                                       January 1, 1995
gender                                                         male
link                     http://en.wikipedia.org/wiki/Eugene_Wigner
place_of_birth                          Budapest ,  Austria-Hungary
place_of_death                       Princeton ,  New Jersey , U.S.
text              Eugene Wigner *, (Wigner Jenő Pál), Physics, 1963
year                                                           1963
Name: Eugene Wigner, dtype: object

In [184]:
def get_born_in(name):
    try:
        born_in = df_born_in.loc[name]['born_in']
        #print('name: %s, born in: %s'%(name, born_in))
    except:
        born_in = np.nan
    return born_in

In [185]:
df_wbi = df_clean.copy()

In [186]:
df_wbi['born_in'] = df_wbi['name'].apply(get_born_in)
df_wbi[df_wbi.born_in.notnull()].iloc[:10, :][['name', 'born_in']]

                   name         born_in
11    Christian de Duve  United Kingdom
12       Ilya Prigogine          Russia
25      Niels Kaj Jerne  United Kingdom
38    Albert Schweitzer         Germany
77      Wilhelm Ostwald          Latvia
89   Shmuel Yosef Agnon         Ukraine
90       Menachem Begin         Belarus
91         Shimon Peres         Belarus
97           Andre Geim          Russia
121          Aaron Klug       Lithuania

In [187]:
df_wbi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 858 entries, 0 to 1051
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   category        858 non-null    object
 1   country         858 non-null    object
 2   date_of_birth   858 non-null    datetime64[ns]
 3   date_of_death   559 non-null    datetime64[ns]
 4   gender          858 non-null    object
 5   link            858 non-null    object
 6   name            858 non-null    object
 7   place_of_birth  831 non-null    object
 8   place_of_death  524 non-null    object
 9   text            858 non-null    object
 10  year            858 non-null    int64
 11  award_age       858 non-null    int64
 12  born_in         102 non-null    object
dtypes: datetime64[ns](2), int64(2), object(9)
memory usage: 93.8+ KB

In [188]:
print(df_wbi[df_wbi.born_in.notnull()][['name', 'category', 'born_in']])

                         name                category         born_in
11          Christian de Duve  Physiology or Medicine  United Kingdom
12             Ilya Prigogine               Chemistry          Russia
25            Niels Kaj Jerne  Physiology or Medicine  United Kingdom
38          Albert Schweitzer                   Peace         Germany
77            Wilhelm Ostwald               Chemistry          Latvia
...                       ...                     ...             ...
1017           Friderik Pregl               Chemistry        Slovenia
1018  Richard Adolf Zsigmondy               Chemistry         Hungary
1040            Patrick White              Literature  United Kingdom
1042            John Harsanyi               Economics         Hungary
1050     Luis Federico Leloir               Chemistry          France

[102 rows x 3 columns]

In [189]:
df_clean, df_born_in = clean_data(reload_data())

### Merging DataFrames

In [190]:
df_winners_bios = pd.read_json(open('data/scrapy_nwinners_minibio.json'))

In [191]:
df_clean_bios = pd.merge(df_wbi, df_winners_bios, how='outer', on='link')

In [192]:
df_clean_bios.count()

category          1023
country           1023
date_of_birth     1023
date_of_death      662
gender            1023
link              1087
name              1023
place_of_birth     995
place_of_death     624
text              1023
year              1023
award_age         1023
born_in            211
bio_image          978
mini_bio          1086
image_urls        1086
dtype: int64

In [193]:
df_clean_bios = df_clean_bios[~df_clean_bios.name.isnull()].drop_duplicates(subset=['link', 'year'])

In [194]:
df_clean_bios.count()

category          858
country           858
date_of_birth     858
date_of_death     559
gender            858
link              858
name              858
place_of_birth    831
place_of_death    524
text              858
year              858
award_age         858
born_in           102
bio_image         770
mini_bio          857
image_urls        857
dtype: int64

In [195]:
df_wbi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 858 entries, 0 to 1051
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   category        858 non-null    object
 1   country         858 non-null    object
 2   date_of_birth   858 non-null    datetime64[ns]
 3   date_of_death   559 non-null    datetime64[ns]
 4   gender          858 non-null    object
 5   link            858 non-null    object
 6   name            858 non-null    object
 7   place_of_birth  831 non-null    object
 8   place_of_death  524 non-null    object
 9   text            858 non-null    object
 10  year            858 non-null    int64
 11  award_age       858 non-null    int64
 12  born_in         102 non-null    object
dtypes: datetime64[ns](2), int64(2), object(9)
memory usage: 93.8+ KB

In [196]:
df_clean_bios[df_clean_bios.mini_bio.isnull()]

,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year,award_age,born_in,bio_image,mini_bio,image_urls
229,Peace,Vietnam,1911-10-14,1990-10-13,male,http://en.wikipedia.org/wiki/L%C3%AA_%C3%90%E1...,Lê Ðức Thọ,"Hà Nam Province , Vietnam","Hanoi , Socialist Republic of Vietnam","Lê Ðức Thọ , born in French Indochina , Peace...",1973.0,62.0,NaN,NaN,NaN,NaN

### Saving the Cleaned Datasets

In [197]:
df_clean_bios.image_urls

0       [http://upload.wikimedia.org/wikipedia/commons...
2       [http://upload.wikimedia.org/wikipedia/commons...
3       [http://upload.wikimedia.org/wikipedia/commons...
4                                                      []
5       [http://upload.wikimedia.org/wikipedia/commons...
                              ...
1017    [http://upload.wikimedia.org/wikipedia/commons...
1018    [http://upload.wikimedia.org/wikipedia/commons...
1019    [http://upload.wikimedia.org/wikipedia/commons...
1020    [http://upload.wikimedia.org/wikipedia/commons...
1022    [http://upload.wikimedia.org/wikipedia/commons...
Name: image_urls, Length: 858, dtype: object

In [198]:
df_clean_bios.drop('image_urls', axis=1, inplace=True)

In [199]:
df_clean_bios.to_json('data/nobel_winners_cleaned.json', orient='records', date_format='iso')

In [200]:
import sqlalchemy

engine = sqlalchemy.create_engine('sqlite:///data/nobel_winners_cleaned.db') 
df_clean_bios.to_sql('winners', engine, if_exists='replace', index=True)

858

In [201]:
df_read_sql = pd.read_sql('winners', engine)
df_read_sql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 858 entries, 0 to 857
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           858 non-null    int64
 1   category        858 non-null    object
 2   country         858 non-null    object
 3   date_of_birth   858 non-null    datetime64[ns]
 4   date_of_death   559 non-null    datetime64[ns]
 5   gender          858 non-null    object
 6   link            858 non-null    object
 7   name            858 non-null    object
 8   place_of_birth  831 non-null    object
 9   place_of_death  524 non-null    object
 10  text            858 non-null    object
 11  year            858 non-null    float64
 12  award_age       858 non-null    float64
 13  born_in         102 non-null    object
 14  bio_image       770 non-null    object
 15  mini_bio        857 non-null    object
dtypes: datetime64[ns](2), float64(2), int64(1), object(11)
memory usage: 107.4+ KB

In [202]:
import dataset

In [203]:
db = dataset.connect('sqlite:///data/nobel_winners_cleaned.db')

In [204]:
# list the first three winners using an SQL query
list(db.query('select * from winners'))[:3]

[OrderedDict([('index', 0),
              ('category', 'Physiology or Medicine'),
              ('country', 'Argentina'),
              ('date_of_birth', '1927-10-08 00:00:00.000000'),
              ('date_of_death', '2002-03-24 00:00:00.000000'),
              ('gender', 'male'),
              ('link', 'http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein'),
              ('name', 'César Milstein'),
              ('place_of_birth', 'Bahía Blanca ,  Argentina'),
              ('place_of_death', 'Cambridge , England'),
              ('text', 'César Milstein , Physiology or Medicine, 1984'),
              ('year', 1984.0),
              ('award_age', 57.0),
              ('born_in', None),
              ('bio_image',
               'full/6bf65058d573e07b72231407842018afc98fd3ea.jpg'),
              ('mini_bio',
               '<p><b>César Milstein</b>, <a href="http://en.wikipedia.org/wiki/Order_of_the_Companions_of_Honour" title="Order of the Companions of Honour">CH</a>, <a href="http://en.wikipedia.org/wiki/Royal_Society" title="Royal Society">FRS</a><sup id="cite_ref-3" class="reference"><a href="http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein#cite_note-3"><span>[</span>3<span>]</span></a></sup> (8 October 1927 – 24 March 2002) was a <a href="http://en.wikipedia.org/wiki/Argentinian" title="Argentinian" class="mw-redirect">Argentinian</a> biochemist - nationalized British - in the field of <a href="http://en.wikipedia.org/wiki/Antibody" title="Antibody">antibody</a> research.<sup id="cite_ref-4" class="reference"><a href="http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein#cite_note-4"><span>[</span>4<span>]</span></a></sup><sup id="cite_ref-5" class="reference"><a href="http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein#cite_note-5"><span>[</span>5<span>]</span></a></sup><sup id="cite_ref-6" class="reference"><a href="http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein#cite_note-6"><span>[</span>6<span>]</span></a></sup><sup id="cite_ref-7" class="reference"><a href="http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein#cite_note-7"><span>[</span>7<span>]</span></a></sup><sup id="cite_ref-8" class="reference"><a href="http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein#cite_note-8"><span>[</span>8<span>]</span></a></sup> Milstein shared the <a href="http://en.wikipedia.org/wiki/Nobel_Prize_in_Physiology_or_Medicine" title="Nobel Prize in Physiology or Medicine">Nobel Prize in Physiology or Medicine</a> in 1984 with <a href="http://en.wikipedia.org/wiki/Niels_Kaj_Jerne" title="Niels Kaj Jerne">Niels Kaj Jerne</a> and <a href="http://en.wikipedia.org/wiki/Georges_J._F._K%C3%B6hler" title="Georges J. F. Köhler">Georges J. F. Köhler</a>.<sup id="cite_ref-9" class="reference"><a href="http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein#cite_note-9"><span>[</span>9<span>]</span></a></sup><sup id="cite_ref-10" class="reference"><a href="http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein#cite_note-10"><span>[</span>10<span>]</span></a></sup><sup id="cite_ref-11" class="reference"><a href="http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein#cite_note-11"><span>[</span>11<span>]</span></a></sup><sup id="cite_ref-12" class="reference"><a href="http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein#cite_note-12"><span>[</span>12<span>]</span></a></sup></p>')]),
 OrderedDict([('index', 2),
              ('category', 'Peace'),
              ('country', 'Belgium'),
              ('date_of_birth', '1829-07-26 00:00:00.000000'),
              ('date_of_death', '1912-10-06 00:00:00.000000'),
              ('gender', 'male'),
              ('link',
               'http://en.wikipedia.org/wiki/Auguste_Marie_Fran%C3%A7ois_Beernaert'),
              ('name', 'Auguste Beernaert'),
              ('place_of_birth', 'Ostend ,  Netherlands  (now  Belgium )'),
              ('place_of_death', 'Lucerne ,  Switzerland'),
              ('text', 'Auguste Beernaert , Peace, 1909'),
              ('year', 1909.0),
              ('award_age', 80.0),
              ('born_in', None),
              ('bio_image',
               'full/8372c9ed89a0af1eb3b6214d8efed1d0fc2f02b0.jpg'),
              ('mini_bio',
               '<p><b>Auguste Marie François Beernaert</b> (26 July 1829 – 6 October 1912) was the <a href="http://en.wikipedia.org/wiki/List_of_Prime_Ministers_of_Belgium" title="List of Prime Ministers of Belgium" class="mw-redirect">14th Prime Minister</a> of <a href="http://en.wikipedia.org/wiki/Belgium" title="Belgium">Belgium</a> from October 1884 to March 1894.</p><p>Born in <a href="http://en.wikipedia.org/wiki/Ostend" title="Ostend">Ostend</a> in 1829, he entered the faculty of law at the <a href="http://en.wikipedia.org/wiki/Catholic_University_of_Leuven_(1834%E2%80%931968)" title="Catholic University of Leuven (1834–1968)">Catholic University of Leuven</a> at age 17. He finished five years later with greatest distinction.<sup id="cite_ref-1" class="reference"><a href="http://en.wikipedia.org/wiki/Auguste_Marie_Fran%C3%A7ois_Beernaert#cite_note-1"><span>[</span>1<span>]</span></a></sup></p><p>He was elected to the Chamber of Deputies in 1873, and became Minister of Public Works under <a href="http://en.wikipedia.org/wiki/Jules_Malou" title="Jules Malou">Jules Malou</a>, greatly improving the rail, canal and road systems. After his tenure as Prime Minister, he represented Belgium at the <a href="http://en.wikipedia.org/wiki/Hague_Conventions_(1899_and_1907)" title="Hague Conventions (1899 and 1907)" class="mw-redirect">Hague conventions of 1899 and 1907</a>. He was also co-winner (with <a href="http://en.wikipedia.org/wiki/Paul_d%27Estournelles_de_Constant" title="Paul d\'Estournelles de Constant" class="mw-redirect">Paul d\'Estournelles de Constant</a>) of the <a href="http://en.wikipedia.org/wiki/Nobel_Peace_Prize" title="Nobel Peace Prize">Nobel Peace Prize</a> in 1909 for his work at the <a href="http://en.wikipedia.org/wiki/Permanent_Court_of_Arbitration" title="Permanent Court of Arbitration">Permanent Court of Arbitration</a>. He was chosen as president of the panel established under the rules of that organization in the <a href="http://en.wikipedia.org/wiki/Vinayak_Damodar_Savarkar#Savarkar_case_before_the_Permanent_Court_of_Arbitration" title="Vinayak Damodar Savarkar">Sarvarkar Case</a> in 1911. A year later, he died in <a href="http://en.wikipedia.org/wiki/Lucerne" title="Lucerne">Lucerne</a>, <a href="http://en.wikipedia.org/wiki/Switzerland" title="Switzerland">Switzerland</a>.</p>')]),
 OrderedDict([('index', 3),
              ('category', 'Literature'),
              ('country', 'Belgium'),
              ('date_of_birth', '1862-08-29 00:00:00.000000'),
              ('date_of_death', '1949-05-06 00:00:00.000000'),
              ('gender', 'male'),
              ('link', 'http://en.wikipedia.org/wiki/Maurice_Maeterlinck'),
              ('name', 'Maurice Maeterlinck'),
              ('place_of_birth', 'Ghent ,  Belgium'),
              ('place_of_death', 'Nice ,  France'),
              ('text', 'Maurice Maeterlinck , Literature, 1911'),
              ('year', 1911.0),
              ('award_age', 49.0),
              ('born_in', None),
              ('bio_image',
               'full/a845620c67d214ca29e6a89cf31062e58ed7f033.jpg'),
              ('mini_bio',
               '<p><b>Maurice Polydore Marie Bernard Maeterlinck</b><sup id="cite_ref-1" class="reference"><a href="http://en.wikipedia.org/wiki/Maurice_Maeterlinck#cite_note-1"><span>[</span>1<span>]</span></a></sup> (also called <i>Comte (Count) Maeterlinck</i> from 1932;<sup id="cite_ref-2" class="reference"><a href="http://en.wikipedia.org/wiki/Maurice_Maeterlinck#cite_note-2"><span>[</span>2<span>]</span></a></sup> <span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="http://en.wikipedia.org/wiki/Help:IPA_for_French" title="Help:IPA for French">[mo.ʁis ma.tɛʁ.lɛ̃ːk]</a></span> in Belgium, <span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="http://en.wikipedia.org/wiki/Help:IPA_for_French" title="Help:IPA for French">[mɛ.teʁ.lɛ̃ːk]</a></span> in France;<sup id="cite_ref-3" class="reference"><a href="http://en.wikipedia.org/wiki/Maurice_Maeterlinck#cite_note-3"><span>[</span>3<span>]</span></a></sup> 29 August 1862 – 6 May 1949) was a Belgian <a href="http://en.wikipedia.org/wiki/Playwright" title="Playwright">playwright</a>, <a href="http://en.wikipedia.org/wiki/Poet" title="Poet">poet</a>, and <a href="http://en.wikipedia.org/wiki/Essayist" title="Essayist" class="mw-redirect">essayist</a> who was a Fleming, but wrote in French. He was awarded the <a href="http://en.wikipedia.org/wiki/Nobel_Prize_in_Literature" title="Nobel Prize in Literature">Nobel Prize in Literature</a> in 1911 "in appreciation of his many-sided literary activities, and especially of his dramatic works, which are distinguished by a wealth of imagination and by a poetic fancy, which reveals, sometimes in the guise of a fairy tale, a deep inspiration, while in a mysterious way they appeal to the readers\' own feelings and stimulate their imaginations". The main themes in his work are death and the meaning of life. His plays form an important part of the <a href="http://en.wikipedia.org/wiki/Symbolism_(arts)" title="Symbolism (arts)">Symbolist</a> movement.</p>')])]

In [205]:
df_clean = df.copy()

In [206]:
from sqlalchemy import Column, Integer, String, Enum, DateTime, Text, BigInteger
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

Base = declarative_base()


class Winner(Base):
    __tablename__ = 'winners'
    id = Column(Integer, primary_key=True)
    category = Column(String)
    country = Column(String)
    date_of_birth = Column(String)
    date_of_death = Column(String)
    gender = Column(String)
    link = Column(String)
    name = Column(String)
    place_of_birth = Column(String)
    place_of_death = Column(String)
    text = Column(Text)
    year = Column(Integer)
    award_age = Column(Integer)
    born_in = Column(String)

    def __repr__(self):
        return "<Winner(name='%s', category='%s', year='%s')>"\
            % (self.name, self.category, self.year)

engine = sqlalchemy.create_engine('sqlite:///data/nobel_winners_cleaned_test.db') 
Base.metadata.create_all(engine)

In [207]:
def loadSession():
    """"""
    metadata = Base.metadata
    Session = sessionmaker(bind=engine)
    session = Session()
    return session

In [208]:
session = loadSession()

In [209]:
df_tosql = df_wbi.copy()

In [210]:
df_tosql['date_of_birth'] = df_tosql['date_of_birth'].astype(str)
df_tosql['date_of_death'] = df_tosql['date_of_death'].astype(str)

In [211]:
print(df_tosql.date_of_birth)

0       1927-10-08
4       1829-07-26
5       1862-08-29
6       1854-04-22
7       1870-06-13
           ...
1045    1951-09-30
1048    1878-11-01
1049    1887-04-10
1050    1906-09-06
1051    1931-11-26
Name: date_of_birth, Length: 858, dtype: object

In [212]:
df_tosql.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 858 entries, 0 to 1051
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   category        858 non-null    object
 1   country         858 non-null    object
 2   date_of_birth   858 non-null    object
 3   date_of_death   858 non-null    object
 4   gender          858 non-null    object
 5   link            858 non-null    object
 6   name            858 non-null    object
 7   place_of_birth  831 non-null    object
 8   place_of_death  524 non-null    object
 9   text            858 non-null    object
 10  year            858 non-null    int64
 11  award_age       858 non-null    int64
 12  born_in         102 non-null    object
dtypes: int64(2), object(11)
memory usage: 93.8+ KB

In [213]:
for d in df_tosql.to_dict(orient='records'):
    session.add(Winner(**d))
session.commit()

In [214]:
res = session.query(Winner).filter_by(category = 'Chemistry', year=1997).all()
res

[<Winner(name='Jens Christian Skou', category='Chemistry', year='1997')>,
 <Winner(name='John E. Walker', category='Chemistry', year='1997')>,
 <Winner(name='Paul D. Boyer', category='Chemistry', year='1997')>,
 <Winner(name='Jens Christian Skou', category='Chemistry', year='1997')>,
 <Winner(name='John E. Walker', category='Chemistry', year='1997')>,
 <Winner(name='Paul D. Boyer', category='Chemistry', year='1997')>,
 <Winner(name='Jens Christian Skou', category='Chemistry', year='1997')>,
 <Winner(name='John E. Walker', category='Chemistry', year='1997')>,
 <Winner(name='Paul D. Boyer', category='Chemistry', year='1997')>,
 <Winner(name='Jens Christian Skou', category='Chemistry', year='1997')>,
 <Winner(name='John E. Walker', category='Chemistry', year='1997')>,
 <Winner(name='Paul D. Boyer', category='Chemistry', year='1997')>,
 <Winner(name='Jens Christian Skou', category='Chemistry', year='1997')>,
 <Winner(name='John E. Walker', category='Chemistry', year='1997')>,
 <Winner(name='Paul D. Boyer', category='Chemistry', year='1997')>,
 <Winner(name='Jens Christian Skou', category='Chemistry', year='1997')>,
 <Winner(name='John E. Walker', category='Chemistry', year='1997')>,
 <Winner(name='Paul D. Boyer', category='Chemistry', year='1997')>,
 <Winner(name='Jens Christian Skou', category='Chemistry', year='1997')>,
 <Winner(name='John E. Walker', category='Chemistry', year='1997')>,
 <Winner(name='Paul D. Boyer', category='Chemistry', year='1997')>]