In [1]:
nobel_winners = [
{'category': 'Physics',
'name': 'Albert Einstein',
'nationality': 'Swiss',
'gender': 'male',
'year': 1921},
{'category': 'Physics',
'name': 'Paul Dirac',
'nationality': 'British',
'gender': 'male',
'year': 1933},
{'category': 'Chemistry',
'name': 'Marie Curie',
'nationality': 'Polish',
'gender': 'female',
'year': 1911}
]

## Working with System Files

In [2]:
# open a local file in write (w) mode
f = open('data/nobel_winners.csv', 'w')

FileNotFoundError: [Errno 2] No such file or directory: 'data/nobel_winners.csv'

In [ ]:
# write the nobel_winners array of dicts to the file
cols = nobel_winners[0].keys()
cols = sorted(cols)
with open('data/nobel_winners.csv', 'w') as f:
    f.write(','.join(cols) + '\n')
    for o in nobel_winners:
        row = [str(o[col]) for col in cols]
        f.write(','.join(row) + '\n')

In [67]:
with open('data/nobel_winners.csv') as f:
    for line in f.readlines():
        print(line)

category,name,nationality,sex,year

Physics,Albert Einstein,Swiss,male,1921

Physics,Paul Dirac,British,male,1933

Chemistry,Marie Curie,Polish,female,1911

## CSV, TSV, and Row-Column Data Formats

In [68]:
import csv
with open('data/nobel_winners.csv', 'w') as f:
    fieldnames = nobel_winners[0].keys()
    fieldnames = sorted(fieldnames)
    writer = csv.DictWriter(f, fieldnames=fieldnames)
    writer.writeheader()
    for w in nobel_winners:
        writer.writerow(w)

In [69]:
with open('data/nobel_winners.csv') as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['category', 'name', 'nationality', 'sex', 'year']
['Physics', 'Albert Einstein', 'Swiss', 'male', '1921']
['Physics', 'Paul Dirac', 'British', 'male', '1933']
['Chemistry', 'Marie Curie', 'Polish', 'female', '1911']

In [70]:
# Using the DictReader to work with arrays of dicts..
import csv

with open('data/nobel_winners.csv') as f:
    reader = csv.DictReader(f)
    nobel_winners = list(reader)
    
nobel_winners

[{'category': 'Physics',
  'name': 'Albert Einstein',
  'nationality': 'Swiss',
  'sex': 'male',
  'year': '1921'},
 {'category': 'Physics',
  'name': 'Paul Dirac',
  'nationality': 'British',
  'sex': 'male',
  'year': '1933'},
 {'category': 'Chemistry',
  'name': 'Marie Curie',
  'nationality': 'Polish',
  'sex': 'female',
  'year': '1911'}]

In [71]:
for w in nobel_winners:
    w['year'] = int(w['year'])
    
nobel_winners

[{'category': 'Physics',
  'name': 'Albert Einstein',
  'nationality': 'Swiss',
  'sex': 'male',
  'year': 1921},
 {'category': 'Physics',
  'name': 'Paul Dirac',
  'nationality': 'British',
  'sex': 'male',
  'year': 1933},
 {'category': 'Chemistry',
  'name': 'Marie Curie',
  'nationality': 'Polish',
  'sex': 'female',
  'year': 1911}]

In [72]:
from datetime import datetime

In [73]:
# We can easily create a Python DateTime from the year column
dt = datetime.strptime('1947', '%Y')
dt

datetime.datetime(1947, 1, 1, 0, 0)

## JSON

In [74]:
import json

with open('data/nobel_winners.json', 'w') as f:
    json.dump(nobel_winners, f)
    
open('data/nobel_winners.json').read()

'[{"category": "Physics", "name": "Albert Einstein", "nationality": "Swiss", "sex": "male", "year": 1921}, {"category": "Physics", "name": "Paul Dirac", "nationality": "British", "sex": "male", "year": 1933}, {"category": "Chemistry", "name": "Marie Curie", "nationality": "Polish", "sex": "female", "year": 1911}]'

In [75]:
import json

with open('data/nobel_winners.json') as f:
    nobel_winners = json.load(f)
    
nobel_winners

[{'category': 'Physics',
  'name': 'Albert Einstein',
  'nationality': 'Swiss',
  'sex': 'male',
  'year': 1921},
 {'category': 'Physics',
  'name': 'Paul Dirac',
  'nationality': 'British',
  'sex': 'male',
  'year': 1933},
 {'category': 'Chemistry',
  'name': 'Marie Curie',
  'nationality': 'Polish',
  'sex': 'female',
  'year': 1911}]

## Dealing with Dates and Times

In [76]:
## This will produce a TypeError if run
#from datetime import datetime

#json.dumps(datetime.now())

## Out: 
# ---------------------------------------------------------------------------
# TypeError                                 Traceback (most recent call last)
# [...]
# --> 179         raise TypeError(f'Object of type {o.__class__.__name__} '
#     180                         f'is not JSON serializable')
#     181 

# TypeError: Object of type datetime is not JSON serializable

In [77]:
import datetime
from dateutil import parser
import json


class JSONDateTimeEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, (datetime.date, datetime.datetime)):
            return obj.isoformat()
        else:
            return json.JSONEncoder.default(self, obj)
        
def dumps(obj):
    return json.dumps(obj, cls=JSONDateTimeEncoder)

In [78]:
now_str = dumps({'time': datetime.datetime.now()})
now_str

'{"time": "2022-07-27T15:23:57.561746"}'

In [79]:
from datetime import datetime

time_str = '2021/01/01 12:32:11'
dt = datetime.strptime(time_str, '%Y/%m/%d %H:%M:%S')
dt

datetime.datetime(2021, 1, 1, 12, 32, 11)

In [80]:
## This will throw an error if run

# dt = datetime.strptime('1/2/2021 12:32:11', '%Y/%m/%d %H:%M:%S')

# ---------------------------------------------------------------------------
# ValueError                                Traceback (most recent call last)
# /tmp/ipykernel_12021/1902707829.py in <module>
# ----> 1 dt = datetime.strptime('1/2/2021 12:32:11', '%Y/%m/%d %H:%M:%S')

# /usr/lib/python3.8/_strptime.py in _strptime_datetime(cls, data_string, format)
#     566     """Return a class cls instance based on the input string and the
#     567     format string."""
# --> 568     tt, fraction, gmtoff_fraction = _strptime(data_string, format)
#     569     tzname, gmtoff = tt[-2:]
#     570     args = tt[:6] + (fraction,)

# /usr/lib/python3.8/_strptime.py in _strptime(data_string, format)
#     347     found = format_regex.match(data_string)
#     348     if not found:
# --> 349         raise ValueError("time data %r does not match format %r" %
#     350                          (data_string, format))
#     351     if len(data_string) != found.end():

# ValueError: time data '1/2/2021 12:32:11' does not match format '%Y/%m/%d %H:%M:%S'

In [81]:
data = [
    {'id': 0, 'date': '2020/02/23 12:59:05'},
    {'id': 1, 'date': '2021/11/02 02:32:00'},
    {'id': 2, 'date': '2021/23/12 09:22:30'},
]

for d in data:
    try:
        d['date'] = datetime.strptime(d['date'],\
        '%Y/%m/%d %H:%M:%S')
    except ValueError:
        print('Oops! - invalid date for ' + repr(d))

Oops! - invalid date for {'id': 2, 'date': '2021/23/12 09:22:30'}

## SQL

### Creating the Database Engine

In [82]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///data/nobel_winners.db', echo=True)

In [83]:
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

In [84]:
from sqlalchemy import Column, Integer, String, Enum

class Winner(Base):
    __tablename__ = 'winners'
    id = Column(Integer, primary_key=True)
    category = Column(String)
    name = Column(String)
    nationality = Column(String)
    year = Column(Integer)
    sex = Column(Enum('male', 'female'))
    def __repr__(self):
        return "<Winner(name='%s', category='%s', year='%s')>"\
%(self.name, self.category, self.year)

In [85]:
Base.metadata.create_all(engine)

2022-07-27 15:23:57,642 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-27 15:23:57,643 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("winners")
2022-07-27 15:23:57,644 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-27 15:23:57,646 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("winners")
2022-07-27 15:23:57,647 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-27 15:23:57,650 INFO sqlalchemy.engine.Engine
CREATE TABLE winners (
	id INTEGER NOT NULL,
	category VARCHAR,
	name VARCHAR,
	nationality VARCHAR,
	year INTEGER,
	sex VARCHAR(6),
	PRIMARY KEY (id)
)


2022-07-27 15:23:57,652 INFO sqlalchemy.engine.Engine [no key 0.00263s] ()
2022-07-27 15:23:57,660 INFO sqlalchemy.engine.Engine COMMIT

In [86]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

def make_winners_database():

    from sqlalchemy import create_engine

    engine = create_engine('sqlite:///data/nobel_winners.db', echo=True)
    
    Base = declarative_base()

    from sqlalchemy import Column, Integer, String, Enum

    class Winner(Base):
        __tablename__ = 'winners'
        id = Column(Integer, primary_key=True)
        category = Column(String)
        name = Column(String)
        nationality = Column(String)
        year = Column(Integer)
        sex = Column(Enum('male', 'female'))
        def __repr__(self):
            return "<Winner(name='%s', category='%s', year='%s')>"\
    %(self.name, self.category, self.year)
    
    Base.metadata.create_all(engine)
    
    Session = sessionmaker(bind=engine)
    session = Session()
    # delete any existing winners:
    session.query(Winner).delete()
    winner_rows = [Winner(**w) for w in nobel_winners]
    session.add_all(winner_rows)
    session.commit()

In [87]:
make_winners_database()

2022-07-27 15:23:57,707 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-27 15:23:57,709 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("winners")
2022-07-27 15:23:57,711 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-27 15:23:57,713 INFO sqlalchemy.engine.Engine COMMIT
2022-07-27 15:23:57,718 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-27 15:23:57,719 INFO sqlalchemy.engine.Engine DELETE FROM winners
2022-07-27 15:23:57,721 INFO sqlalchemy.engine.Engine [generated in 0.00126s] ()
2022-07-27 15:23:57,725 INFO sqlalchemy.engine.Engine INSERT INTO winners (category, name, nationality, year, sex) VALUES (?, ?, ?, ?, ?)
2022-07-27 15:23:57,726 INFO sqlalchemy.engine.Engine [generated in 0.00129s] ('Physics', 'Albert Einstein', 'Swiss', 1921, 'male')
2022-07-27 15:23:57,728 INFO sqlalchemy.engine.Engine INSERT INTO winners (category, name, nationality, year, sex) VALUES (?, ?, ?, ?, ?)
2022-07-27 15:23:57,729 INFO sqlalchemy.engine.Engine [cached since 0.00434s ago] ('Physics', 'Paul Dirac', 'British', 1933, 'male')
2022-07-27 15:23:57,731 INFO sqlalchemy.engine.Engine INSERT INTO winners (category, name, nationality, year, sex) VALUES (?, ?, ?, ?, ?)
2022-07-27 15:23:57,732 INFO sqlalchemy.engine.Engine [cached since 0.007618s ago] ('Chemistry', 'Marie Curie', 'Polish', 1911, 'female')
2022-07-27 15:23:57,734 INFO sqlalchemy.engine.Engine COMMIT

## Adding Instances with a Session

In [88]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
session = Session()

# delete any existing winners fromt the table
session.query(Winner).delete()

2022-07-27 15:23:57,758 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-27 15:23:57,760 INFO sqlalchemy.engine.Engine DELETE FROM winners
2022-07-27 15:23:57,762 INFO sqlalchemy.engine.Engine [generated in 0.00130s] ()

3

In [89]:
albert = Winner(**nobel_winners[0])
session.add(albert)
session.new

IdentitySet([<Winner(name='Albert Einstein', category='Physics', year='1921')>])

In [90]:
session.expunge(albert)
session.new

IdentitySet([])

In [91]:
winner_rows = [Winner(**w) for w in nobel_winners]
session.add_all(winner_rows)
session.commit()

2022-07-27 15:23:57,798 INFO sqlalchemy.engine.Engine INSERT INTO winners (category, name, nationality, year, sex) VALUES (?, ?, ?, ?, ?)
2022-07-27 15:23:57,800 INFO sqlalchemy.engine.Engine [generated in 0.00215s] ('Physics', 'Albert Einstein', 'Swiss', 1921, 'male')
2022-07-27 15:23:57,802 INFO sqlalchemy.engine.Engine INSERT INTO winners (category, name, nationality, year, sex) VALUES (?, ?, ?, ?, ?)
2022-07-27 15:23:57,803 INFO sqlalchemy.engine.Engine [cached since 0.005433s ago] ('Physics', 'Paul Dirac', 'British', 1933, 'male')
2022-07-27 15:23:57,805 INFO sqlalchemy.engine.Engine INSERT INTO winners (category, name, nationality, year, sex) VALUES (?, ?, ?, ?, ?)
2022-07-27 15:23:57,806 INFO sqlalchemy.engine.Engine [cached since 0.008087s ago] ('Chemistry', 'Marie Curie', 'Polish', 1911, 'female')
2022-07-27 15:23:57,807 INFO sqlalchemy.engine.Engine COMMIT

## Querying the Database

In [92]:
session.query(Winner).count()

2022-07-27 15:23:57,825 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-27 15:23:57,829 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT winners.id AS winners_id, winners.category AS winners_category, winners.name AS winners_name, winners.nationality AS winners_nationality, winners.year AS winners_year, winners.sex AS winners_sex
FROM winners) AS anon_1
2022-07-27 15:23:57,831 INFO sqlalchemy.engine.Engine [generated in 0.00112s] ()

3

In [93]:
result = session.query(Winner).filter_by(nationality='Swiss')
list(result)

2022-07-27 15:23:57,844 INFO sqlalchemy.engine.Engine SELECT winners.id AS winners_id, winners.category AS winners_category, winners.name AS winners_name, winners.nationality AS winners_nationality, winners.year AS winners_year, winners.sex AS winners_sex
FROM winners
WHERE winners.nationality = ?
2022-07-27 15:23:57,846 INFO sqlalchemy.engine.Engine [generated in 0.00131s] ('Swiss',)

In [94]:
result = session.query(Winner).filter(\
Winner.category == 'Physics', \
Winner.nationality != 'Swiss')
list(result)

2022-07-27 15:23:57,862 INFO sqlalchemy.engine.Engine SELECT winners.id AS winners_id, winners.category AS winners_category, winners.name AS winners_name, winners.nationality AS winners_nationality, winners.year AS winners_year, winners.sex AS winners_sex
FROM winners
WHERE winners.category = ? AND winners.nationality != ?
2022-07-27 15:23:57,863 INFO sqlalchemy.engine.Engine [generated in 0.00148s] ('Physics', 'Swiss')

In [95]:
session.query(Winner).get(3)

2022-07-27 15:23:57,875 INFO sqlalchemy.engine.Engine SELECT winners.id AS winners_id, winners.category AS winners_category, winners.name AS winners_name, winners.nationality AS winners_nationality, winners.year AS winners_year, winners.sex AS winners_sex
FROM winners
WHERE winners.id = ?
2022-07-27 15:23:57,878 INFO sqlalchemy.engine.Engine [generated in 0.00260s] (3,)

In [96]:
res = session.query(Winner).order_by('year')
list(res)

2022-07-27 15:23:57,891 INFO sqlalchemy.engine.Engine SELECT winners.id AS winners_id, winners.category AS winners_category, winners.name AS winners_name, winners.nationality AS winners_nationality, winners.year AS winners_year, winners.sex AS winners_sex
FROM winners ORDER BY winners.year
2022-07-27 15:23:57,894 INFO sqlalchemy.engine.Engine [generated in 0.00308s] ()

[<Winner(name='Marie Curie', category='Chemistry', year='1911')>,
 <Winner(name='Albert Einstein', category='Physics', year='1921')>,
 <Winner(name='Paul Dirac', category='Physics', year='1933')>]

In [97]:
def inst_to_dict(inst, delete_id=True):
    dat = {}
    for column in inst.__table__.columns:
        dat[column.name] = getattr(inst, column.name)
    if delete_id:
        dat.pop('id')
    return dat

In [98]:
winner_rows = session.query(Winner)
nobel_winners = [inst_to_dict(w) for w in winner_rows]
nobel_winners

2022-07-27 15:23:57,920 INFO sqlalchemy.engine.Engine SELECT winners.id AS winners_id, winners.category AS winners_category, winners.name AS winners_name, winners.nationality AS winners_nationality, winners.year AS winners_year, winners.sex AS winners_sex
FROM winners
2022-07-27 15:23:57,922 INFO sqlalchemy.engine.Engine [generated in 0.00195s] ()

[{'category': 'Physics',
  'name': 'Albert Einstein',
  'nationality': 'Swiss',
  'year': 1921,
  'sex': 'male'},
 {'category': 'Physics',
  'name': 'Paul Dirac',
  'nationality': 'British',
  'year': 1933,
  'sex': 'male'},
 {'category': 'Chemistry',
  'name': 'Marie Curie',
  'nationality': 'Polish',
  'year': 1911,
  'sex': 'female'}]

In [99]:
marie = session.query(Winner).get(3)
marie.nationality = 'French'
session.dirty

IdentitySet([<Winner(name='Marie Curie', category='Chemistry', year='1911')>])

In [100]:
session.commit()

2022-07-27 15:23:57,945 INFO sqlalchemy.engine.Engine UPDATE winners SET nationality=? WHERE winners.id = ?
2022-07-27 15:23:57,946 INFO sqlalchemy.engine.Engine [generated in 0.00145s] ('French', 3)
2022-07-27 15:23:57,947 INFO sqlalchemy.engine.Engine COMMIT

In [101]:
session.dirty

IdentitySet([])

In [102]:
session.query(Winner).get(3).nationality

2022-07-27 15:23:57,983 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-27 15:23:57,985 INFO sqlalchemy.engine.Engine SELECT winners.id AS winners_id, winners.category AS winners_category, winners.name AS winners_name, winners.nationality AS winners_nationality, winners.year AS winners_year, winners.sex AS winners_sex
FROM winners
WHERE winners.id = ?
2022-07-27 15:23:57,986 INFO sqlalchemy.engine.Engine [cached since 0.1107s ago] (3,)

'French'

In [103]:
session.query(Winner).filter_by(name='Albert Einstein').delete()

2022-07-27 15:23:57,997 INFO sqlalchemy.engine.Engine DELETE FROM winners WHERE winners.name = ?
2022-07-27 15:23:57,999 INFO sqlalchemy.engine.Engine [generated in 0.00159s] ('Albert Einstein',)

1

In [104]:
list(session.query(Winner))

2022-07-27 15:23:58,011 INFO sqlalchemy.engine.Engine SELECT winners.id AS winners_id, winners.category AS winners_category, winners.name AS winners_name, winners.nationality AS winners_nationality, winners.year AS winners_year, winners.sex AS winners_sex
FROM winners
2022-07-27 15:23:58,012 INFO sqlalchemy.engine.Engine [cached since 0.09212s ago] ()

[<Winner(name='Paul Dirac', category='Physics', year='1933')>,
 <Winner(name='Marie Curie', category='Chemistry', year='1911')>]

In [105]:
session.commit()

2022-07-27 15:23:58,026 INFO sqlalchemy.engine.Engine COMMIT

In [106]:
Winner.__table__.drop(engine)

2022-07-27 15:23:58,045 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-27 15:23:58,047 INFO sqlalchemy.engine.Engine
DROP TABLE winners
2022-07-27 15:23:58,048 INFO sqlalchemy.engine.Engine [no key 0.00121s] ()
2022-07-27 15:23:58,063 INFO sqlalchemy.engine.Engine COMMIT

### Easier SQL with Dataset

In [107]:
import dataset
db = dataset.connect('sqlite:///data/nobel_winners.db')

In [108]:
make_winners_database()

2022-07-27 15:23:58,228 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-27 15:23:58,230 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("winners")
2022-07-27 15:23:58,231 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-27 15:23:58,233 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("winners")
2022-07-27 15:23:58,234 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-27 15:23:58,236 INFO sqlalchemy.engine.Engine
CREATE TABLE winners (
	id INTEGER NOT NULL,
	category VARCHAR,
	name VARCHAR,
	nationality VARCHAR,
	year INTEGER,
	sex VARCHAR(6),
	PRIMARY KEY (id)
)


2022-07-27 15:23:58,237 INFO sqlalchemy.engine.Engine [no key 0.00088s] ()
2022-07-27 15:23:58,248 INFO sqlalchemy.engine.Engine COMMIT
2022-07-27 15:23:58,252 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-27 15:23:58,253 INFO sqlalchemy.engine.Engine DELETE FROM winners
2022-07-27 15:23:58,254 INFO sqlalchemy.engine.Engine [generated in 0.00106s] ()
2022-07-27 15:23:58,256 INFO sqlalchemy.engine.Engine INSERT INTO winners (category, name, nationality, year, sex) VALUES (?, ?, ?, ?, ?)
2022-07-27 15:23:58,257 INFO sqlalchemy.engine.Engine [generated in 0.00100s] ('Physics', 'Albert Einstein', 'Swiss', 1921, 'male')
2022-07-27 15:23:58,259 INFO sqlalchemy.engine.Engine INSERT INTO winners (category, name, nationality, year, sex) VALUES (?, ?, ?, ?, ?)
2022-07-27 15:23:58,260 INFO sqlalchemy.engine.Engine [cached since 0.00334s ago] ('Physics', 'Paul Dirac', 'British', 1933, 'male')
2022-07-27 15:23:58,261 INFO sqlalchemy.engine.Engine INSERT INTO winners (category, name, nationality, year, sex) VALUES (?, ?, ?, ?, ?)
2022-07-27 15:23:58,263 INFO sqlalchemy.engine.Engine [cached since 0.006337s ago] ('Chemistry', 'Marie Curie', 'Polish', 1911, 'female')
2022-07-27 15:23:58,264 INFO sqlalchemy.engine.Engine COMMIT

In [109]:
wtable = db['winners']
winners = wtable.find()
winners = list(winners)
winners

[OrderedDict([('id', 1),
              ('category', 'Physics'),
              ('name', 'Albert Einstein'),
              ('nationality', 'Swiss'),
              ('year', 1921),
              ('sex', 'male')]),
 OrderedDict([('id', 2),
              ('category', 'Physics'),
              ('name', 'Paul Dirac'),
              ('nationality', 'British'),
              ('year', 1933),
              ('sex', 'male')]),
 OrderedDict([('id', 3),
              ('category', 'Chemistry'),
              ('name', 'Marie Curie'),
              ('nationality', 'Polish'),
              ('year', 1911),
              ('sex', 'female')])]

In [110]:
wtable = db['winners']
wtable.drop()
wtable = db['winners']
list(wtable.find())

[]

In [111]:
with db as tx:
    tx['winners'].insert_many(nobel_winners)

/home/kyran/.virtualenvs/pyjsdv/lib/python3.10/site-packages/dataset/table.py:313: RuntimeWarning: Changing the database schema inside a transaction in a multi-threaded environment is likely to lead to race conditions and synchronization issues.
  warnings.warn(

In [112]:
list(db['winners'].find())

[OrderedDict([('id', 1),
              ('category', 'Physics'),
              ('name', 'Albert Einstein'),
              ('nationality', 'Swiss'),
              ('year', 1921),
              ('sex', 'male')]),
 OrderedDict([('id', 2),
              ('category', 'Physics'),
              ('name', 'Paul Dirac'),
              ('nationality', 'British'),
              ('year', 1933),
              ('sex', 'male')]),
 OrderedDict([('id', 3),
              ('category', 'Chemistry'),
              ('name', 'Marie Curie'),
              ('nationality', 'Polish'),
              ('year', 1911),
              ('sex', 'female')])]

### MongoDB

In [113]:
from pymongo import MongoClient

client = MongoClient()
db = client.nobel_prize
coll = db.winners

In [114]:
DB_NOBEL_PRIZE = 'nobel_prize'
COLL_WINNERS = 'winners'

In [115]:
def get_mongo_database(db_name, host='localhost',\
    port=27017, username=None, password=None):
    """ Get named database from MongoDB with/out authentication """
    # make Mongo connection with/out authentication
    if username and password:
        mongo_uri = 'mongodb://%s:%s@%s/%s'%\
        (username, password, host, db_name)
        conn = MongoClient(mongo_uri)
    else:
        conn = MongoClient(host, port)
    return conn[db_name]

In [116]:
db = get_mongo_database(DB_NOBEL_PRIZE)
coll = db[COLL_WINNERS]

In [117]:
# delete existing winners from the collection
# !NOTE! - if you get a PyMongo error like this:
# ConfigurationError: Server at 127.0.0.1:27017 
# reports wire version 0, but this version of PyMongo requires at least 2 (MongoDB 2.6)
# try downgrading your PyMongo module with 'pip install pymongo==3.4.0'
coll.drop()

ServerSelectionTimeoutError: localhost:27017: [Errno 111] Connection refused, Timeout: 30s, Topology Description: <TopologyDescription id: 62e14a7ed7521d8aee0f86fd, topology_type: Unknown, servers: [<ServerDescription ('localhost', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('localhost:27017: [Errno 111] Connection refused')>]>

In [ ]:
coll.insert_many(nobel_winners)
list(coll.find())

In [ ]:
res = coll.find({'category':'Chemistry'})
list(res)

In [ ]:
res = coll.find({'year': {'$gt': 1930}})
list(res)

In [ ]:
res = coll.find({'$or':[{'year': {'$gt': 1930}},\
{'sex':'female'}]})
list(res)

In [ ]:
def mongo_coll_to_dicts(dbname='test', collname='test', query={}, del_id=True, **kw):
    db = get_mongo_database(dbname, **kw)
    res = list(db[collname].find(query))
    if del_id:
        for r in res:
            r.pop('_id')
    return res

In [ ]:
mongo_coll_to_dicts(DB_NOBEL_PRIZE, COLL_WINNERS)

## Dealing with Dates, Times, and Complex Data

In [ ]:
from datetime import datetime
d = datetime.now()
d.isoformat()

In [ ]:
from dateutil import parser
d = parser.parse('2021-11-16T22:55:48.738Z')
d