In [1]:
nobel_winners = [
{'category': 'Physics',
'name': 'Albert Einstein',
'nationality': 'Swiss',
'gender': 'male',
'year': 1921},
{'category': 'Physics',
'name': 'Paul Dirac',
'nationality': 'British',
'gender': 'male',
'year': 1933},
{'category': 'Chemistry',
'name': 'Marie Curie',
'nationality': 'Polish',
'gender': 'female',
'year': 1911}
]

## Working with System Files

In [2]:
# open a local file in write (w) mode
f = open('data/nobel_winners.csv', 'w')

In [3]:
# write the nobel_winners array of dicts to the file
cols = nobel_winners[0].keys()
cols = sorted(cols)
with open('data/nobel_winners.csv', 'w') as f:
    f.write(','.join(cols) + '\n')
    for o in nobel_winners:
        row = [str(o[col]) for col in cols]
        f.write(','.join(row) + '\n')

In [4]:
with open('data/nobel_winners.csv') as f:
    for line in f.readlines():
        print(line)

category,gender,name,nationality,year

Physics,male,Albert Einstein,Swiss,1921

Physics,male,Paul Dirac,British,1933

Chemistry,female,Marie Curie,Polish,1911

## CSV, TSV, and Row-Column Data Formats

In [5]:
import csv
with open('data/nobel_winners.csv', 'w') as f:
    fieldnames = nobel_winners[0].keys()
    fieldnames = sorted(fieldnames)
    writer = csv.DictWriter(f, fieldnames=fieldnames)
    writer.writeheader()
    for w in nobel_winners:
        writer.writerow(w)

In [6]:
with open('data/nobel_winners.csv') as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['category', 'gender', 'name', 'nationality', 'year']
['Physics', 'male', 'Albert Einstein', 'Swiss', '1921']
['Physics', 'male', 'Paul Dirac', 'British', '1933']
['Chemistry', 'female', 'Marie Curie', 'Polish', '1911']

In [7]:
# Using the DictReader to work with arrays of dicts..
import csv

with open('data/nobel_winners.csv') as f:
    reader = csv.DictReader(f)
    nobel_winners = list(reader)
    
nobel_winners

[{'category': 'Physics',
  'gender': 'male',
  'name': 'Albert Einstein',
  'nationality': 'Swiss',
  'year': '1921'},
 {'category': 'Physics',
  'gender': 'male',
  'name': 'Paul Dirac',
  'nationality': 'British',
  'year': '1933'},
 {'category': 'Chemistry',
  'gender': 'female',
  'name': 'Marie Curie',
  'nationality': 'Polish',
  'year': '1911'}]

In [8]:
for w in nobel_winners:
    w['year'] = int(w['year'])
    
nobel_winners

[{'category': 'Physics',
  'gender': 'male',
  'name': 'Albert Einstein',
  'nationality': 'Swiss',
  'year': 1921},
 {'category': 'Physics',
  'gender': 'male',
  'name': 'Paul Dirac',
  'nationality': 'British',
  'year': 1933},
 {'category': 'Chemistry',
  'gender': 'female',
  'name': 'Marie Curie',
  'nationality': 'Polish',
  'year': 1911}]

In [9]:
from datetime import datetime

In [10]:
# We can easily create a Python DateTime from the year column
dt = datetime.strptime('1947', '%Y')
dt

datetime.datetime(1947, 1, 1, 0, 0)

## JSON

In [11]:
import json

with open('data/nobel_winners.json', 'w') as f:
    json.dump(nobel_winners, f)
    
open('data/nobel_winners.json').read()

'[{"category": "Physics", "gender": "male", "name": "Albert Einstein", "nationality": "Swiss", "year": 1921}, {"category": "Physics", "gender": "male", "name": "Paul Dirac", "nationality": "British", "year": 1933}, {"category": "Chemistry", "gender": "female", "name": "Marie Curie", "nationality": "Polish", "year": 1911}]'

In [12]:
import json

with open('data/nobel_winners.json') as f:
    nobel_winners = json.load(f)
    
nobel_winners

[{'category': 'Physics',
  'gender': 'male',
  'name': 'Albert Einstein',
  'nationality': 'Swiss',
  'year': 1921},
 {'category': 'Physics',
  'gender': 'male',
  'name': 'Paul Dirac',
  'nationality': 'British',
  'year': 1933},
 {'category': 'Chemistry',
  'gender': 'female',
  'name': 'Marie Curie',
  'nationality': 'Polish',
  'year': 1911}]

## Dealing with Dates and Times

In [13]:
## This will produce a TypeError if run
#from datetime import datetime

#json.dumps(datetime.now())

## Out: 
# ---------------------------------------------------------------------------
# TypeError                                 Traceback (most recent call last)
# [...]
# --> 179         raise TypeError(f'Object of type {o.__class__.__name__} '
#     180                         f'is not JSON serializable')
#     181 

# TypeError: Object of type datetime is not JSON serializable

In [14]:
import datetime
from dateutil import parser
import json


class JSONDateTimeEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, (datetime.date, datetime.datetime)):
            return obj.isoformat()
        else:
            return json.JSONEncoder.default(self, obj)
        
def dumps(obj):
    return json.dumps(obj, cls=JSONDateTimeEncoder)

In [15]:
now_str = dumps({'time': datetime.datetime.now()})
now_str

'{"time": "2022-08-15T19:17:49.553153"}'

In [16]:
from datetime import datetime

time_str = '2021/01/01 12:32:11'
dt = datetime.strptime(time_str, '%Y/%m/%d %H:%M:%S')
dt

datetime.datetime(2021, 1, 1, 12, 32, 11)

In [17]:
## This will throw an error if run

# dt = datetime.strptime('1/2/2021 12:32:11', '%Y/%m/%d %H:%M:%S')

# ---------------------------------------------------------------------------
# ValueError                                Traceback (most recent call last)
# /tmp/ipykernel_12021/1902707829.py in <module>
# ----> 1 dt = datetime.strptime('1/2/2021 12:32:11', '%Y/%m/%d %H:%M:%S')

# /usr/lib/python3.8/_strptime.py in _strptime_datetime(cls, data_string, format)
#     566     """Return a class cls instance based on the input string and the
#     567     format string."""
# --> 568     tt, fraction, gmtoff_fraction = _strptime(data_string, format)
#     569     tzname, gmtoff = tt[-2:]
#     570     args = tt[:6] + (fraction,)

# /usr/lib/python3.8/_strptime.py in _strptime(data_string, format)
#     347     found = format_regex.match(data_string)
#     348     if not found:
# --> 349         raise ValueError("time data %r does not match format %r" %
#     350                          (data_string, format))
#     351     if len(data_string) != found.end():

# ValueError: time data '1/2/2021 12:32:11' does not match format '%Y/%m/%d %H:%M:%S'

In [18]:
data = [
    {'id': 0, 'date': '2020/02/23 12:59:05'},
    {'id': 1, 'date': '2021/11/02 02:32:00'},
    {'id': 2, 'date': '2021/23/12 09:22:30'},
]

for d in data:
    try:
        d['date'] = datetime.strptime(d['date'],\
        '%Y/%m/%d %H:%M:%S')
    except ValueError:
        print('Oops! - invalid date for ' + repr(d))

Oops! - invalid date for {'id': 2, 'date': '2021/23/12 09:22:30'}

## SQL

### Creating the Database Engine

In [19]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///data/nobel_winners.db', echo=True)

In [20]:
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

In [27]:
from sqlalchemy import Column, Integer, String, Enum

class Winner(Base):
    __tablename__ = 'winners'
    id = Column(Integer, primary_key=True)
    category = Column(String)
    name = Column(String)
    nationality = Column(String)
    year = Column(Integer)
    gender = Column(Enum('male', 'female'))
    def __repr__(self):
        return "<Winner(name='%s', category='%s', year='%s')>"\
%(self.name, self.category, self.year)

/tmp/ipykernel_163819/1127242425.py:3: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Winner, and will be replaced in the string-lookup table.
  class Winner(Base):

InvalidRequestError: Table 'winners' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [ ]:
Base.metadata.create_all(engine)

In [28]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

def make_winners_database():

    from sqlalchemy import create_engine

    engine = create_engine('sqlite:///data/nobel_winners.db', echo=True)
    
    Base = declarative_base()

    from sqlalchemy import Column, Integer, String, Enum

    class Winner(Base):
        __tablename__ = 'winners'
        id = Column(Integer, primary_key=True)
        category = Column(String)
        name = Column(String)
        nationality = Column(String)
        year = Column(Integer)
        gender = Column(Enum('male', 'female'))
        def __repr__(self):
            return "<Winner(name='%s', category='%s', year='%s')>"\
    %(self.name, self.category, self.year)
    
    Base.metadata.create_all(engine)
    
    Session = sessionmaker(bind=engine)
    session = Session()
    # delete any existing winners:
    session.query(Winner).delete()
    winner_rows = [Winner(**w) for w in nobel_winners]
    session.add_all(winner_rows)
    session.commit()

In [29]:
make_winners_database()

2022-08-15 19:19:03,615 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-08-15 19:19:03,616 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("winners")
2022-08-15 19:19:03,617 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-15 19:19:03,619 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("winners")
2022-08-15 19:19:03,619 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-15 19:19:03,621 INFO sqlalchemy.engine.Engine
CREATE TABLE winners (
	id INTEGER NOT NULL,
	category VARCHAR,
	name VARCHAR,
	nationality VARCHAR,
	year INTEGER,
	gender VARCHAR(6),
	PRIMARY KEY (id)
)


2022-08-15 19:19:03,623 INFO sqlalchemy.engine.Engine [no key 0.00180s] ()
2022-08-15 19:19:03,632 INFO sqlalchemy.engine.Engine COMMIT
2022-08-15 19:19:03,634 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-08-15 19:19:03,635 INFO sqlalchemy.engine.Engine DELETE FROM winners
2022-08-15 19:19:03,636 INFO sqlalchemy.engine.Engine [generated in 0.00072s] ()
2022-08-15 19:19:03,638 INFO sqlalchemy.engine.Engine INSERT INTO winners (category, name, nationality, year, gender) VALUES (?, ?, ?, ?, ?)
2022-08-15 19:19:03,639 INFO sqlalchemy.engine.Engine [generated in 0.00103s] ('Physics', 'Albert Einstein', 'Swiss', 1921, 'male')
2022-08-15 19:19:03,640 INFO sqlalchemy.engine.Engine INSERT INTO winners (category, name, nationality, year, gender) VALUES (?, ?, ?, ?, ?)
2022-08-15 19:19:03,641 INFO sqlalchemy.engine.Engine [cached since 0.00334s ago] ('Physics', 'Paul Dirac', 'British', 1933, 'male')
2022-08-15 19:19:03,643 INFO sqlalchemy.engine.Engine INSERT INTO winners (category, name, nationality, year, gender) VALUES (?, ?, ?, ?, ?)
2022-08-15 19:19:03,644 INFO sqlalchemy.engine.Engine [cached since 0.005597s ago] ('Chemistry', 'Marie Curie', 'Polish', 1911, 'female')
2022-08-15 19:19:03,645 INFO sqlalchemy.engine.Engine COMMIT

## Adding Instances with a Session

In [30]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
session = Session()

# delete any existing winners fromt the table
session.query(Winner).delete()

2022-08-15 19:19:11,045 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-08-15 19:19:11,048 INFO sqlalchemy.engine.Engine DELETE FROM winners
2022-08-15 19:19:11,051 INFO sqlalchemy.engine.Engine [generated in 0.00289s] ()

3

In [31]:
albert = Winner(**nobel_winners[0])
session.add(albert)
session.new

IdentitySet([<Winner(name='Albert Einstein', category='Physics', year='1921')>])

In [32]:
session.expunge(albert)
session.new

IdentitySet([])

In [33]:
winner_rows = [Winner(**w) for w in nobel_winners]
session.add_all(winner_rows)
session.commit()

2022-08-15 19:19:15,626 INFO sqlalchemy.engine.Engine INSERT INTO winners (category, name, nationality, year, gender) VALUES (?, ?, ?, ?, ?)
2022-08-15 19:19:15,628 INFO sqlalchemy.engine.Engine [generated in 0.00514s] ('Physics', 'Albert Einstein', 'Swiss', 1921, 'male')
2022-08-15 19:19:15,629 INFO sqlalchemy.engine.Engine INSERT INTO winners (category, name, nationality, year, gender) VALUES (?, ?, ?, ?, ?)
2022-08-15 19:19:15,630 INFO sqlalchemy.engine.Engine [cached since 0.007933s ago] ('Physics', 'Paul Dirac', 'British', 1933, 'male')
2022-08-15 19:19:15,631 INFO sqlalchemy.engine.Engine INSERT INTO winners (category, name, nationality, year, gender) VALUES (?, ?, ?, ?, ?)
2022-08-15 19:19:15,633 INFO sqlalchemy.engine.Engine [cached since 0.01061s ago] ('Chemistry', 'Marie Curie', 'Polish', 1911, 'female')
2022-08-15 19:19:15,635 INFO sqlalchemy.engine.Engine COMMIT

## Querying the Database

In [34]:
session.query(Winner).count()

2022-08-15 19:19:18,671 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-08-15 19:19:18,682 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT winners.id AS winners_id, winners.category AS winners_category, winners.name AS winners_name, winners.nationality AS winners_nationality, winners.year AS winners_year, winners.gender AS winners_gender
FROM winners) AS anon_1
2022-08-15 19:19:18,684 INFO sqlalchemy.engine.Engine [generated in 0.00164s] ()

3

In [35]:
result = session.query(Winner).filter_by(nationality='Swiss')
list(result)

2022-08-15 19:19:19,153 INFO sqlalchemy.engine.Engine SELECT winners.id AS winners_id, winners.category AS winners_category, winners.name AS winners_name, winners.nationality AS winners_nationality, winners.year AS winners_year, winners.gender AS winners_gender
FROM winners
WHERE winners.nationality = ?
2022-08-15 19:19:19,156 INFO sqlalchemy.engine.Engine [generated in 0.00286s] ('Swiss',)

In [36]:
result = session.query(Winner).filter(\
Winner.category == 'Physics', \
Winner.nationality != 'Swiss')
list(result)

2022-08-15 19:19:19,960 INFO sqlalchemy.engine.Engine SELECT winners.id AS winners_id, winners.category AS winners_category, winners.name AS winners_name, winners.nationality AS winners_nationality, winners.year AS winners_year, winners.gender AS winners_gender
FROM winners
WHERE winners.category = ? AND winners.nationality != ?
2022-08-15 19:19:19,963 INFO sqlalchemy.engine.Engine [generated in 0.00331s] ('Physics', 'Swiss')

In [37]:
session.query(Winner).get(3)

2022-08-15 19:19:21,631 INFO sqlalchemy.engine.Engine SELECT winners.id AS winners_id, winners.category AS winners_category, winners.name AS winners_name, winners.nationality AS winners_nationality, winners.year AS winners_year, winners.gender AS winners_gender
FROM winners
WHERE winners.id = ?
2022-08-15 19:19:21,633 INFO sqlalchemy.engine.Engine [generated in 0.00192s] (3,)

In [38]:
res = session.query(Winner).order_by('year')
list(res)

2022-08-15 19:19:23,266 INFO sqlalchemy.engine.Engine SELECT winners.id AS winners_id, winners.category AS winners_category, winners.name AS winners_name, winners.nationality AS winners_nationality, winners.year AS winners_year, winners.gender AS winners_gender
FROM winners ORDER BY winners.year
2022-08-15 19:19:23,269 INFO sqlalchemy.engine.Engine [generated in 0.00320s] ()

[<Winner(name='Marie Curie', category='Chemistry', year='1911')>,
 <Winner(name='Albert Einstein', category='Physics', year='1921')>,
 <Winner(name='Paul Dirac', category='Physics', year='1933')>]

In [39]:
def inst_to_dict(inst, delete_id=True):
    dat = {}
    for column in inst.__table__.columns:
        dat[column.name] = getattr(inst, column.name)
    if delete_id:
        dat.pop('id')
    return dat

In [40]:
winner_rows = session.query(Winner)
nobel_winners = [inst_to_dict(w) for w in winner_rows]
nobel_winners

2022-08-15 19:19:24,529 INFO sqlalchemy.engine.Engine SELECT winners.id AS winners_id, winners.category AS winners_category, winners.name AS winners_name, winners.nationality AS winners_nationality, winners.year AS winners_year, winners.gender AS winners_gender
FROM winners
2022-08-15 19:19:24,531 INFO sqlalchemy.engine.Engine [generated in 0.00235s] ()

[{'category': 'Physics',
  'name': 'Albert Einstein',
  'nationality': 'Swiss',
  'year': 1921,
  'gender': 'male'},
 {'category': 'Physics',
  'name': 'Paul Dirac',
  'nationality': 'British',
  'year': 1933,
  'gender': 'male'},
 {'category': 'Chemistry',
  'name': 'Marie Curie',
  'nationality': 'Polish',
  'year': 1911,
  'gender': 'female'}]

In [41]:
marie = session.query(Winner).get(3)
marie.nationality = 'French'
session.dirty

IdentitySet([<Winner(name='Marie Curie', category='Chemistry', year='1911')>])

In [42]:
session.commit()

2022-08-15 19:19:26,431 INFO sqlalchemy.engine.Engine UPDATE winners SET nationality=? WHERE winners.id = ?
2022-08-15 19:19:26,432 INFO sqlalchemy.engine.Engine [generated in 0.00178s] ('French', 3)
2022-08-15 19:19:26,435 INFO sqlalchemy.engine.Engine COMMIT

In [43]:
session.dirty

IdentitySet([])

In [44]:
session.query(Winner).get(3).nationality

2022-08-15 19:19:27,401 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-08-15 19:19:27,404 INFO sqlalchemy.engine.Engine SELECT winners.id AS winners_id, winners.category AS winners_category, winners.name AS winners_name, winners.nationality AS winners_nationality, winners.year AS winners_year, winners.gender AS winners_gender
FROM winners
WHERE winners.id = ?
2022-08-15 19:19:27,405 INFO sqlalchemy.engine.Engine [cached since 5.774s ago] (3,)

'French'

In [45]:
session.query(Winner).filter_by(name='Albert Einstein').delete()

2022-08-15 19:19:27,819 INFO sqlalchemy.engine.Engine DELETE FROM winners WHERE winners.name = ?
2022-08-15 19:19:27,822 INFO sqlalchemy.engine.Engine [generated in 0.00323s] ('Albert Einstein',)

1

In [46]:
list(session.query(Winner))

2022-08-15 19:19:28,419 INFO sqlalchemy.engine.Engine SELECT winners.id AS winners_id, winners.category AS winners_category, winners.name AS winners_name, winners.nationality AS winners_nationality, winners.year AS winners_year, winners.gender AS winners_gender
FROM winners
2022-08-15 19:19:28,422 INFO sqlalchemy.engine.Engine [cached since 3.894s ago] ()

[<Winner(name='Paul Dirac', category='Physics', year='1933')>,
 <Winner(name='Marie Curie', category='Chemistry', year='1911')>]

In [47]:
session.commit()

2022-08-15 19:19:29,461 INFO sqlalchemy.engine.Engine COMMIT

In [48]:
Winner.__table__.drop(engine)

2022-08-15 19:19:29,917 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-08-15 19:19:29,920 INFO sqlalchemy.engine.Engine
DROP TABLE winners
2022-08-15 19:19:29,922 INFO sqlalchemy.engine.Engine [no key 0.00144s] ()
2022-08-15 19:19:29,936 INFO sqlalchemy.engine.Engine COMMIT

### Easier SQL with Dataset

In [49]:
import dataset
db = dataset.connect('sqlite:///data/nobel_winners.db')

In [50]:
make_winners_database()

2022-08-15 19:19:31,872 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-08-15 19:19:31,874 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("winners")
2022-08-15 19:19:31,875 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-15 19:19:31,877 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("winners")
2022-08-15 19:19:31,878 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-15 19:19:31,881 INFO sqlalchemy.engine.Engine
CREATE TABLE winners (
	id INTEGER NOT NULL,
	category VARCHAR,
	name VARCHAR,
	nationality VARCHAR,
	year INTEGER,
	gender VARCHAR(6),
	PRIMARY KEY (id)
)


2022-08-15 19:19:31,882 INFO sqlalchemy.engine.Engine [no key 0.00138s] ()
2022-08-15 19:19:31,891 INFO sqlalchemy.engine.Engine COMMIT
2022-08-15 19:19:31,894 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-08-15 19:19:31,895 INFO sqlalchemy.engine.Engine DELETE FROM winners
2022-08-15 19:19:31,896 INFO sqlalchemy.engine.Engine [generated in 0.00070s] ()
2022-08-15 19:19:31,899 INFO sqlalchemy.engine.Engine INSERT INTO winners (category, name, nationality, year, gender) VALUES (?, ?, ?, ?, ?)
2022-08-15 19:19:31,900 INFO sqlalchemy.engine.Engine [generated in 0.00093s] ('Physics', 'Albert Einstein', 'Swiss', 1921, 'male')
2022-08-15 19:19:31,901 INFO sqlalchemy.engine.Engine INSERT INTO winners (category, name, nationality, year, gender) VALUES (?, ?, ?, ?, ?)
2022-08-15 19:19:31,902 INFO sqlalchemy.engine.Engine [cached since 0.002629s ago] ('Physics', 'Paul Dirac', 'British', 1933, 'male')
2022-08-15 19:19:31,902 INFO sqlalchemy.engine.Engine INSERT INTO winners (category, name, nationality, year, gender) VALUES (?, ?, ?, ?, ?)
2022-08-15 19:19:31,904 INFO sqlalchemy.engine.Engine [cached since 0.004584s ago] ('Chemistry', 'Marie Curie', 'Polish', 1911, 'female')
2022-08-15 19:19:31,905 INFO sqlalchemy.engine.Engine COMMIT

In [51]:
wtable = db['winners']
winners = wtable.find()
winners = list(winners)
winners

[OrderedDict([('id', 1),
              ('category', 'Physics'),
              ('name', 'Albert Einstein'),
              ('nationality', 'Swiss'),
              ('year', 1921),
              ('gender', 'male')]),
 OrderedDict([('id', 2),
              ('category', 'Physics'),
              ('name', 'Paul Dirac'),
              ('nationality', 'British'),
              ('year', 1933),
              ('gender', 'male')]),
 OrderedDict([('id', 3),
              ('category', 'Chemistry'),
              ('name', 'Marie Curie'),
              ('nationality', 'Polish'),
              ('year', 1911),
              ('gender', 'female')])]

In [52]:
wtable = db['winners']
wtable.drop()
wtable = db['winners']
list(wtable.find())

[]

In [53]:
with db as tx:
    tx['winners'].insert_many(nobel_winners)

/home/kyran/.virtualenvs/pyjsdv/lib/python3.10/site-packages/dataset/table.py:313: RuntimeWarning: Changing the database schema inside a transaction in a multi-threaded environment is likely to lead to race conditions and synchronization issues.
  warnings.warn(

In [54]:
list(db['winners'].find())

[OrderedDict([('id', 1),
              ('category', 'Physics'),
              ('name', 'Albert Einstein'),
              ('nationality', 'Swiss'),
              ('year', 1921),
              ('gender', 'male')]),
 OrderedDict([('id', 2),
              ('category', 'Physics'),
              ('name', 'Paul Dirac'),
              ('nationality', 'British'),
              ('year', 1933),
              ('gender', 'male')]),
 OrderedDict([('id', 3),
              ('category', 'Chemistry'),
              ('name', 'Marie Curie'),
              ('nationality', 'Polish'),
              ('year', 1911),
              ('gender', 'female')])]

### MongoDB

In [55]:
from pymongo import MongoClient

client = MongoClient()
db = client.nobel_prize
coll = db.winners

In [56]:
DB_NOBEL_PRIZE = 'nobel_prize'
COLL_WINNERS = 'winners'

In [57]:
def get_mongo_database(db_name, host='localhost',\
    port=27017, username=None, password=None):
    """ Get named database from MongoDB with/out authentication """
    # make Mongo connection with/out authentication
    if username and password:
        mongo_uri = 'mongodb://%s:%s@%s/%s'%\
        (username, password, host, db_name)
        conn = MongoClient(mongo_uri)
    else:
        conn = MongoClient(host, port)
    return conn[db_name]

In [58]:
db = get_mongo_database(DB_NOBEL_PRIZE)
coll = db[COLL_WINNERS]

In [59]:
# delete existing winners from the collection
# !NOTE! - if you get a PyMongo error like this:
# ConfigurationError: Server at 127.0.0.1:27017 
# reports wire version 0, but this version of PyMongo requires at least 2 (MongoDB 2.6)
# try downgrading your PyMongo module with 'pip install pymongo==3.4.0'
coll.drop()

In [60]:
coll.insert_many(nobel_winners)
list(coll.find())

[{'_id': ObjectId('62fa8e410c37aefc01be2875'),
  'category': 'Physics',
  'name': 'Albert Einstein',
  'nationality': 'Swiss',
  'year': 1921,
  'gender': 'male'},
 {'_id': ObjectId('62fa8e410c37aefc01be2876'),
  'category': 'Physics',
  'name': 'Paul Dirac',
  'nationality': 'British',
  'year': 1933,
  'gender': 'male'},
 {'_id': ObjectId('62fa8e410c37aefc01be2877'),
  'category': 'Chemistry',
  'name': 'Marie Curie',
  'nationality': 'Polish',
  'year': 1911,
  'gender': 'female'}]

In [61]:
res = coll.find({'category':'Chemistry'})
list(res)

[{'_id': ObjectId('62fa8e410c37aefc01be2877'),
  'category': 'Chemistry',
  'name': 'Marie Curie',
  'nationality': 'Polish',
  'year': 1911,
  'gender': 'female'}]

In [62]:
res = coll.find({'year': {'$gt': 1930}})
list(res)

[{'_id': ObjectId('62fa8e410c37aefc01be2876'),
  'category': 'Physics',
  'name': 'Paul Dirac',
  'nationality': 'British',
  'year': 1933,
  'gender': 'male'}]

In [63]:
res = coll.find({'$or':[{'year': {'$gt': 1930}},\
{'sex':'female'}]})
list(res)

[{'_id': ObjectId('62fa8e410c37aefc01be2876'),
  'category': 'Physics',
  'name': 'Paul Dirac',
  'nationality': 'British',
  'year': 1933,
  'gender': 'male'}]

In [64]:
def mongo_coll_to_dicts(dbname='test', collname='test', query={}, del_id=True, **kw):
    db = get_mongo_database(dbname, **kw)
    res = list(db[collname].find(query))
    if del_id:
        for r in res:
            r.pop('_id')
    return res

In [65]:
mongo_coll_to_dicts(DB_NOBEL_PRIZE, COLL_WINNERS)

[{'category': 'Physics',
  'name': 'Albert Einstein',
  'nationality': 'Swiss',
  'year': 1921,
  'gender': 'male'},
 {'category': 'Physics',
  'name': 'Paul Dirac',
  'nationality': 'British',
  'year': 1933,
  'gender': 'male'},
 {'category': 'Chemistry',
  'name': 'Marie Curie',
  'nationality': 'Polish',
  'year': 1911,
  'gender': 'female'}]

## Dealing with Dates, Times, and Complex Data

In [66]:
from datetime import datetime
d = datetime.now()
d.isoformat()

'2022-08-15T19:19:52.024181'

In [67]:
from dateutil import parser
d = parser.parse('2021-11-16T22:55:48.738Z')
d

datetime.datetime(2021, 11, 16, 22, 55, 48, 738000, tzinfo=tzutc())